<mat-card style="margin-top: 10px;">
	<mat-card-title>Welcome to CookJar!</mat-card-title>
    <img src="../assets/images/logo-cropped.png" class="image">
    <hr>
	<mat-card-subtitle>
		<br>
		<div><strong>Country:</strong> Italy</div>
		<br>
		<div><strong>Contributors:</strong> Benjamin Demetz & Laraib Ahmed</div>
		<br>
		<mat-card-content>
			<br>
			<div><strong>Description:</strong><br>
                <p>
                    Introducing our cooking app, the ultimate solution for all your culinary needs! With our app,
                    you can explore a vast collection of recipes sourced from the OpendataHub API. Not only that,
                    you can also add your own favorite recipes to the app and save them locally for quick access.
                </p>
                <p>
                    But that's not all! Our app also features an innovative AI technology that lets you generate images
                    for your recipes, making your culinary creations even more visually appealing. Plus, you can even let
                    the AI generate entire recipes for you to try out and expand your culinary repertoire.
                </p>
                <p>Whether you're a novice cook or a seasoned chef, our app has something for everyone.</p>
            </div>
			<br>
			<div><strong>Our usage policies:</strong><br>
                <p>
                    We want all users of our cooking app to have a safe and enjoyable experience.
                    To ensure this, we ask that you use our AI technology only for the purpose of generating recipes
                    and recipe-related content. Any misuse of the AI, such as using it to generate inappropriate or offensive content,
                    is strictly prohibited.
                </p>
                <p>
                    Additionally, please refrain from intentionally trying to break or misuse the app in any way.
                    This includes attempting to hack or alter the app's code,
                    as well as engaging in any other activity that could harm the app or its users.
                </p>
				<p>
					As the creators of this app, we want to be clear about our usage policy and legal responsibilities.
					We do not control the information that is shared or exchanged through our app, and therefore, we cannot guarantee its accuracy, completeness, or reliability.
					We also want to emphasize that we do not take legal responsibility for any harm that may be caused to users as a result of using our app.
					While we strive to provide a safe and secure platform, we cannot control the content that is being given to  us.
				</p>
                <p>
                    By using our app, you agree to these terms and understand that any violation may result in the
                    termination of your account and legal consequences if necessary.
                </p>
                <p>Thank you for using our app and for helping us maintain a safe and enjoyable community for all users.</p>
            </div>
			<br>
			<div><strong>Contact us:</strong>
                <ul>
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                </ul>
            </div>
			<div><strong>Link to project: </strong> <a href="https://github.com/tfobz-informatik/opendatahub-ahmed-demetz">GitHub</a></div>
		</mat-card-content>
	</mat-card-subtitle>
	<mat-card-footer>
		<div class="center">&#169; Powered by the CookJar Company<sup>&#174;</sup></div>
        <br>
	</mat-card-footer>
</mat-card>
